# {{name}}
[![Build][build-badge]][vcs-build]
[![License][license-badge]][license]
[![Maven Release][maven-release-badge]][maven-release]
[![VCS Release][release-badge]][vcs-release]


## Quick Start
To build the project:

```shell
./gradlew build
```


{% include 'license.' + license + '.summary.md.jinja' %}


[vcs-build-badge]: https://github.com/Virtlink/mylib/actions/workflows/build.yaml/badge.svg
[vcs-build]: https://github.com/Virtlink/mylib/actions
[license-badge]: https://img.shields.io/github/license/Virtlink/mylib
[license]: https://github.com/Virtlink/mylib/blob/main/LICENSE
[maven-release-badge]: https://img.shields.io/maven-central/v/com.example/mylib
[maven-release]: https://mvnrepository.com/artifact/com.example/mylib
[vcs-release-badge]: https://img.shields.io/github/v/release/Virtlink/mylib
[vcs-release]: https://github.com/Virtlink/mylib/releases