# {{name}}
[![Build][build-badge]][vcs-build]
[![License][license-badge]][license]
[![Maven Release][maven-release-badge]][maven-release]
[![VCS Release][release-badge]][vcs-release]


## License
{% include 'license.' + license_id + '-summary.md.jinja' %}


[vcs-build-badge]: https://github.com/{{vcs_owner}}/{{vcs_name}}/actions/workflows/build.yaml/badge.svg
[vcs-build]: https://github.com/{{vcs_owner}}/{{vcs_name}}/actions
[license-badge]: https://img.shields.io/github/license/{{vcs_owner}}/{{vcs_name}}
[license]: https://github.com/{{vcs_owner}}/{{vcs_name}}/blob/main/LICENSE
[maven-release-badge]: https://img.shields.io/maven-central/v/com.example/{{vcs_name}}
[maven-release]: https://mvnrepository.com/artifact/com.example/{{vcs_name}}
[vcs-release-badge]: https://img.shields.io/github/v/release/{{vcs_owner}}/{{vcs_name}}
[vcs-release]: https://github.com/{{vcs_owner}}/{{vcs_name}}/releases